<!--
<header>
  <h1> Willkommen auf der Website der Familie Schneider! </h1>
</header>
-->
<!-- <nav id="mainnav">
  <a href="#">Immobilien</a> | <a href="#">Nebenkostenabrechnungen</a> | <a href="#">Rechnungen</a>
</nav> -->
<!-- <aside id="sidebar">
  <h3>Navigation</h3>
  <p>Einführung in die Seiteninhalte</p>
  <p><a href="realestates"> Immobilien </a></p>
  <p><a href="flats"> Nebenkostenabrechnungen </a></p>
  <p><a href="bills"> Rechnungen </a></p>
</aside>
-->
  <article>
    <h1>Wo sind wir</h1>
    <p>Wir leben in Buxheim, einer Gemeinde unweit von Ingolstadt. </p>
  </article>
  <article>
    <h1>Die Großfamilie</h1>
    <p>Zusammen mit Kindern und Großeltern leben wir unter einem Dach.
    Für die Kleinen ist das toll: sie können sich aussuchen, wer für sie Zeit hat.</p>
  </article>
  <article>
    <h1>Familiäre Besonderheiten</h1>
    <p>Wir entstammen verschiedenen Kulturkreisen: Frau aus dem wunderschönen, sonnigen Kuba, Mann aus dem Herzen Bayerns. </p>
  </article>
  <article class="">
    <h1>Freizeit</h1>
    <p>Als Hobby betreiben wir noch eine kleine Landwirtschaft.
      Damit betreiben wir auch Traditionspflege</p>
  </article>
<!--
<footer class="clear">Fußzeile</footer>
-->
