<h1> Immobilien und Mieter </h1>
<h2> Buxheim </h2>
<ul>
  <li> Tulpenweg 2, Esther und Florian Pohl; esther.pohl@gmx.de, florian.pohl@gmail.com </li>
  <li> Tulpenweg 4, Fam.  Jörn Heumann; ra.heumann@gmx.de; 08458/397475 0160/97247009  </li>
  <li> Tulpenweg 4a Fam. Andreas Gastl; 0177/4638729  </li>
</ul>
<h2> Ingolstadt </h2>
<ul>
  <li> Harderstra&szlig;e 24 - Wohnung A7?, Marc Cieslok; mcieslok@flexngate.com 0172 8519300 </li>
  <li> Adolf-Kolping-Stra&szlig;e 1 - Wohnung C9, Lars Dabelstein; dabelstein.lars@me.com </li>
</ul>
<!--
<a href="welcome"> zur&uuml;ck </a>
-->
